.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
}

.navbar-ul li {
  float: left;
}

.navbar-ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background 0.2s;
}

.navbar-ul li a:hover {
  background-color: #111;
}

.navbar-ul .active {
  border-bottom: 2px solid white;
  font-weight: bold;
}

.navbar-right {
  float: right;
}
